<link rel="stylesheet" type="text/css" href="/css/person.css">
<title>ComProPy</title>
</head>
<body>

<!-- хедер -->
<%- include('./partials/header.ejs') %>

<!-- боковая панель -->
<div class="container-fluid menu heightAll">
    <div class="row set heightAll">
        <%- include('./partials/nav.ejs') %>

        <!-- Основная информация -->

        <div class="col-7 ">
            <div class="container main">
                <%if (folUser.length) {%>
                <%for(let i = 0; i < folUser.length; i++){%>
                <div class="container subscription person">
                    <!--  карточка подписчика -->
                    <div class="row">
                        <div class="col-2" style="padding-right: 0px">
                            <img class="img-responsive" src="<%=folUser[i].avatar%>" alt="profile">
                        </div>
                        <div class="col-5 center">
                            <div class="profile-content">
                                <h5 class="name"><%=folUser[i].lastName%> <%=folUser[i].firstName%></h5>
                                <!-- <h5 class="desc">Рейтинг: 11000</h5>   статус или рейтинг-->
                                <i>Рейтинг: <%=folUser[i].ratingProfile%></i>
                            </div>
                        </div>
                        <div class="col-5 center" style="justify-content: flex-end;">
                            <div class="btn-change ">
                                <a class="btn " href="/information/<%=folUser[i].login%>"><i>Посмотреть</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <%}%>
                <%}else{%> <p>Подписчиков еще нет</p><%}%>
            </div>

        </div>
        <%- include('./partials/right-menu.ejs') %>

    </div>
</div>
</body>

</html>